		<footer class="container">
			<div class="four columns offset-by-one">
				<p>Rhode Island School of Design</p>
			</div>
			<div class="three columns">
				<ul class="social">
					<li><a href="https://www.facebook.com/risd1877" target="new">F</a></li>
					<li><a href="https://twitter.com/risd" target="new">T</a></li>
					<li><a href="#">A</a></li>
				</ul>

			</div>
			<div class="four columns offset-by-four">
				<p>Questions? <a href="mailto:">infosite@risd.edu</a></p>
			</div>
		</footer>
 
  <script src="{{site.baseurl}}/assets/js/dist/site.js"></script>
    </body>
</html>
