<section class="assets">
			<div class="related-links four columns alpha">
				<h3>Related Links</h3>
				<ul>
					<li><a href="#">somethingmiportant.com</a></li>
					<li><a href="#">anotherresource.risd.edu</a></li>
					<li><a href="#">websiteurl.org</a></li>
					<li><a href="#">additionallink.edu/thing</a></li>
					<li><a href="#">morecopy.net</a></li>
					<li><a href="#">boatparty.biz</a></li>
					<li><a href="#">nfl.com</a></li>
					<li><a href="#">pitchfork.com</a></li>
					<li><a href="#">gmail.com</a></li>
				</ul>
			</div>
			<div class="documents four columns omega">
				<h3>Documents</h3>
				<ul>
					<li><a href="#">How to Win Friends and Influence People</a></li>
					<li><a href="#">The Omnivore's Dilemna</a></li>
					<li><a href="#">Jurassic Park</a></li>
					<li><a href="#">A Visit from the Goon Squad</a></li>
					<li><a href="#">Still Life with Oyster and Lemon</a></li>
					<li><a href="#">1Q84</a></li>
				</ul>
			</div>
		</section>