<div class="four columns offset-by-one alpha">
	<h2>Example Department</h2>
	<section class="contact-info">
		<h5>WEBSITE</h5>
		<a href="#" class="department-link">department.risd.edu</a>
		<h5>HOURS</h5>
		<ul>
			<li>MON–FRI 9:00am to 5:00pm</li>
			
		</ul>
		<h5>LOCATION</h5>
		<ul>
			<li>Homer Hall</li> 
			<li>55 Angell Street</li>
		</ul>
		<h5>PHONE</h5>
		<ul>
			<li>401-454-6625</li>
		</ul>
		<h5>EMAIL</h5>
		<ul>
			<li><a href="#">health@risd.edu</a></li>
		</ul>
		<h5>KEY CONTACT</h5>
		<ul>
			<li>Lipsum Lippy</li>
		</ul>
	</section>
	<section class="map">
		<iframe width='75%' height='200px' frameBorder='0' src='https://a.tiles.mapbox.com/v3/micahmicah.ijl2lg25/attribution,zoompan.html'></iframe>

	</section>
</div>