// Sass colors
$orange: #ff6633;
$dark-orange:#cd3e0b;
$kelly-green: #009933;
$light-gray: rgb(250,250,250);
$middle-gray:rgb(230,230,230);
$dark-gray:#666;


/*
=================================================================
 
 MAIN PAGE

=================================================================

*/

body{
	margin-top:6em;
	@media only screen and (max-width: 767px){
		margin-top:4em;
	}
}


a:link, a:visited{
	text-decoration:none;
}

ul{
	padding:0px;
	list-style:none;
}


h3:before{
	font-family:modern-pictograms;
	font-size:32px;
	color:$orange;
	font-weight:normal;
	margin-right:0.125em;
}




/*
---------------------
list of departments
---------------------
*/


.directory-group:last-child{
	border-bottom:none;
}


.directory-group li{
	-webkit-column-span:2;
	-moz-column-span:2;
	-o-column-span:2;
	column-span:2;
	display:block;
	font-weight:600;
	color:$orange;
}

.directory-group ul{
	-webkit-column-count:2;
	-moz-column-count:2;
	-o-column-count:2;
	-ms-column-count:2;
	column-count:2;
}

.directory-group ul li{
	-webkit-column-break-inside:avoid;
    	-moz-column-break-inside:avoid;
    	-o-column-break-inside:avoid;
    	-ms-column-break-inside:avoid;
    	column-break-inside:avoid;
}

ul li a:link, ul li a:visited{
	padding:0.25em 0em;
	display:block;
	font-weight:400;

}

ul li a:hover{
	color:$dark-orange;
}

.directory ul li a:link, .directory ul li a:visited{
	color:$dark-gray;
}

.directory-group ul li a:hover{
	background:$light-gray;
	color:$orange;
}


/*
---------------------
	SIDEBAR 
---------------------
*/



.quick-links, .classifieds ul, .events ul, .contact-info ul, .department-description ul, .links ul{
	list-style:none;
	padding-left:0em;
}

.quick-links li{
	float:left;
	width:50%;
}


.directory h3:before{
	content:"Ü";
}



/*
---------------------
	QUICK LINKS 
---------------------
*/


.links h3:before{
	content:"o"
}


/*
---------------------
	CLASSIFIEDS 
---------------------
*/
.classifieds{
	border-bottom:1px solid $middle-gray;
}

.classifieds h3:before{
	content:"i";
	
}



/*
---------------------
	EVENTS 
---------------------
*/
.events h3:before{
	content:"ç";
	
	

}

.events .location{
	display:block;
}

.events .location:before{
	content:"location";
	text-transform:uppercase;
	color:rgb(180,180,180);
	font-size:11px;
	margin-right:0.75em;
}




/*
=================================================================
 
  DEPARTMENT / OFFICE PAGE

=================================================================

*/



.assets{
	border-top:1px solid $middle-gray;
}



.related-links h3:before{
	content:"w";
}

.documents h3:before{
	content:";";
}



/*
--------------------------
	MAIN COLUMN 
--------------------------
*/

.department-description{
	margin-top:4.5em;
}


/*
---------------------
	BREAD CRUMBS 
---------------------
*/


.bread-crumbs{
	border-bottom:1px solid $middle-gray;
	padding-bottom:0.5em;
}

.bread-crumbs ul{
	padding:0em;
	list-style:none;
}

.bread-crumbs ul li{
	float:left;
	margin-right:0.5em;
	font-size:12px;
	display:inline;
}

.bread-crumbs ul li:first-child:after{
	content:"/";
	margin-left:0.5em;
	color:$dark-gray;
}

.bread-crumbs ul li:nth-child(3):before{
	content:"/";
	margin-right:0.5em;
	color:$dark-gray;
}

.bread-crumbs ul li a:link, .bread-crumbs ul li a:visited{
	color:$dark-gray;
	display:inline;
}

.bread-crumbs ul li a:hover, .bread-crumbs ul li a:active{
	color:$orange;
}


/*
---------------------
	SIDE COLUMN 
---------------------
*/




.contact-info ul{
	margin-top:0em;

}


.map iframe{
	border:1px solid $middle-gray;
}








/*
=================================================================
 
 NAVIGATION

=================================================================
*/


/*
---------------------
initial structure
---------------------
*/

nav{
	padding:1em 0em;
	position:fixed;
	width:100%;
	z-index:2;
	top:0em;
	border-bottom:2px solid $dark-orange;
	text-align:right;
	-webkit-transition:top 0.2s ease-in-out;
	-moz-transition:top 0.2s ease-in-out;
	transition:top 0.2s ease-in-out;

	@media only screen and (max-width: 767px){
		top:0em;
		height:24px;
		-webkit-transition:height 0.2s ease-in-out;
		-moz-transition:height 0.2s ease-in-out;
		-o-transition:height 0.2s ease-in-out;
		transition:height 0.2s ease-in-out;
	}
}


nav .container{
	position:relative;
	@media only screen and (max-width: 767px){
		height:100%;
	}
}

.logout, .login{
	@media only screen and (max-width: 767px){
		position:absolute;
		left:0em;
		text-align:left;
		bottom:8em;
	}
	
}


a.logo{
	text-align:left;
	
	@media only screen and (max-width: 767px){
		position:absolute;
		bottom:0em;
		left:0em;
	}
}





/*
---------------------
interactive states
---------------------
*/

.nav-up{
	top:-4em;
}

.nav-down{
	top:0em;
}


nav.drawer{
	height:140px;
}

nav.drawer .drawer-activator svg{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
}

.drawer-activator svg path{
	fill:$dark-orange;
}



.drawer-activator{
	display:none;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	@media only screen and (max-width: 767px){
		display:block;
		position:absolute;
		bottom:-1em;
		width: 100%;
		// background: red;
		text-align: center;
		cursor:pointer;
	}
}

.logout{
	@media only screen and (max-width: 767px){
		left:3em;
		bottom:8.45em;
		position:absolute;
	}
}




.login-link svg path{
	fill:$dark-orange;
	-webkit-transition:fill 0.2s ease-in-out;
	-moz-transition:fill 0.2s ease-in-out;
	transition:fill 0.2s ease-in-out;
}

.login-link:hover svg path{
	fill:white;
}











/*
---------------------
search bar
---------------------
*/

input[type="search"]{
	background:$orange;
	border:1px solid $dark-orange;
	padding:0.25em;
	font-size:16px;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
	color:$dark-orange;
	@media only screen and (max-width: 767px){
		position:absolute;
		bottom:3em;
		left:0em;
	}
	
}



input[type="search"]:focus{
	background:white;
	outline-style:none;
	color:$dark-gray;
}

input::-moz-placeholder{
	font-family:modern-pictograms;
	font-size:1.5em;
	color:$dark-orange;
}




::-webkit-input-placeholder{
	font-family:modern-pictograms;
	font-size:1.5em;
	color:$dark-orange;
}





/*
=================================================================
 
 LOGIN SCREEN

=================================================================
*/

body.login-screen{
	background:$orange;
	@media only screen and (max-width: 767px){
		margin-top:0em;
	}

}


.login-screen input{
	display:block;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.login-screen input[type="text"]{
	margin-bottom:1em;
	// font-size:14px;
	padding:1em;
	background:$orange;
	border:1px solid $dark-orange;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;

}

.login-screen input[type="text"]:focus{
	background:white;
	outline-style:none;
}

.login-screen input[type="submit"]{
	padding:1em;
	background:white;
	color:$orange;
	border:1px solid $dark-orange;
	margin-bottom:8em;
	@media only screen and (max-width: 767px){
		margin-bottom:3em;
	}
}

.login-screen input[type="submit"]:active{
	background:$dark-orange;
	outline-style:none;


}


.login-screen ::-webkit-input-placeholder{
	font-size:16px;
	color:$dark-orange;

}

.login-screen input::-moz-placeholder{
	font-size:16px;
	color:$dark-orange;
}


.login-screen a:link, .login-screen  a:visited, .login-screen .social a:link, .login-screen .social a:visited{
	color:$dark-orange;
}

.login-screen a:hover, .login-screen .social a:hover{
	color:white;
}


/*
=================================================================
 
 FOOTER

=================================================================
*/
footer.container{
	border-top:1px solid $middle-gray;
	padding-bottom:2em;

}

footer p{
	font-size:11px;
	text-transform:uppercase;
	color:$dark-gray;
}

footer a:link, footer a:visited, .social li a:visited, .social li a:link{
	color:$dark-gray;
}

footer a:hover, footer .social a:hover{
	color:$orange;
}


// search results
a.search-result{
	color:$dark-gray;
	display:block;
}

a.search-result:hover p{
	// background:$light-gray;
	color:rgb(60,60,60);
}




.social{
	list-style:none;
	padding:0px;
	margin:0px;
}

.social li{
	float:left;
	margin-right:0.25em;
}



/*
=================================================================
 
 CLASSIFIEDS

=================================================================
*/


.classified-nav{
	padding:0px;
	list-style:none;

	li{
		float:left;
		margin-right:1em;
	}
}


.classified-item{
	h3{
		margin-bottom:0px;
	}
}












