/*
==================================

NAVIGATION

==================================

*/

nav{
	background:$orange;
}

nav li{
	color:$dark-orange;
}

.directory-header{
	color:$orange;
}

.directory-group{
	border-bottom:1px solid $middle-gray;
	padding-bottom:1em;
}

nav a:link, nav a:visited{
	color:$dark-orange;
	text-decoration:none;
}

nav a:hover{
	color:white;
}


// headers

h3{
	color:$kelly-green;
}

h4{
	color:$orange;
}

h5{
	color:$kelly-green;
}

.contact-info li{
	color:$dark-gray;
}

a.logo:link, a.logo:visited{
	color:white;
	text-decoration:none;
}

a:link, a:visited{
	color:$orange;
	text-decoration:none;
}

a.search-result:link{
	color:$dark-gray;
	border-bottom:1px solid $middle-gray;
}

a.search-result:last-child{
	border-bottom:none;
}

.contact-info a:link, .contact-info a:visited{
	font-weight:700;
}

.contact-info .department-link:link, .contact-info .department-link:visited{
	color:$orange;
	font-weight:400;
}

.contact-info .department-link:hover{
	color:$dark-orange;
}


.sidebar li a:link, .sidebar li a:visited{
	color:$dark-gray;
}

.sidebar li a:hover{
	color:$orange;
	background:$light-gray;
}


.department-description a{
	color:$orange;
}

body{
	

}


.search-term{
	color:$orange;
}


body.login-screen footer{
	border-top:1px solid $dark-orange;
}

body.login-screen footer p{
	color:$dark-orange;
}